Java/src/jdbc/.idea/jdbc.iml
Java/src/jdbc/.idea/libraries/mysql_connector_j_9_5_0.xml
Java/src/jdbc/.idea/misc.xml
Java/src/jdbc/.idea/modules.xml
Java/src/jdbc/.idea/vcs.xml
Java/src/jdbc/mysql-connector-j-9.5.0.jar
Java/.vscode/settings.json
/backend/nginx/nginx-1.28.2
