Java/src/jdbc/.idea/jdbc.iml
Java/src/jdbc/.idea/libraries/mysql_connector_j_9_5_0.xml
Java/src/jdbc/.idea/misc.xml
Java/src/jdbc/.idea/modules.xml
Java/src/jdbc/.idea/vcs.xml
Java/src/jdbc/mysql-connector-j-9.5.0.jar
Java/.vscode/settings.json
/backend/nginx/nginx-1.28.2
/backend/node/Node Practical/taskverse_level_2/node_modules
backend/node/Node Practical/taskverse_level_2/package-lock.json
backend/node/Node Practical/taskverse_level_2/package.json
/backend/node/Node Practical/taskverse_level_3/node_modules
backend/node/Node Practical/taskverse_level_3/package.json
backend/node/Node Practical/taskverse_level_3/package-lock.json
